<div class="ms-Grid">
  <div class="ms-Grid-row">
    <!-- App navigation bar markup. -->
    <div class="ms-NavBar">
      <ul class="ms-NavBar-items">
        <li class="navbar-header">Microsoft Graph Connect sample by Joey Pathompong</li>
      </ul>
    </div>

    <!-- App main content markup. -->
    <div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">
      <div>
        <h1 class="ms-font-xl">Contacts for {{name}}</h1>
        <ul>
          {{#each contacts}}
          <li class="ms-font-m">{{displayName}}</li>
          {{/each}}
        </ul>
        <ul>
         <h1 class="ms-font-xl">All event from calendars</h1>
          {{#each events}}
          <li class="ms-font-m">{{subject}}</li>
          <p class="ms-font-m">{{start.dateTime}}</p>
          <hr/>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>